body{
display:flex;
justify-content: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:1.1em
}
form{
    padding:10px 30px;
    max-width: 500px;
    border:3px solid gray;
}

h3{
    text-align: center;
}

input{
    width:100%;
    border-radius: 2px;
    height: 25px;
    border: 1px solid gray;
    background-color: hsl(0, 0%, 93%) ;
}

#submit{
    background-color:#414243;
    text-align: center;
    color:white;
    height: 30px;
    width: 100%;
}
input[type="radio"]{
    width: auto;
    height: auto;
}



