$blue: lightgray;
$border:2px solid black;

$hover: red;
$maincolor:hsla(19, 91%, 35%, 0.678);
$phone:url("https://p7.hiclipart.com/preview/337/160/943/iphone-7-plus-iphone-5s-iphone-8-iphone-apple.jpg");

