$maincolor:hsla(19, 91%, 35%, 0.678);
$phone:url("https://p7.hiclipart.com/preview/337/160/943/iphone-7-plus-iphone-5s-iphone-8-iphone-apple.jpg");
$secondcolor:rgb(236, 236, 236);

*{  border:none;
    padding: 0px;
    margin:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    text-align: center;
    color:$secondcolor;}
#tiny{
    text-align: center;
}

#sectA #logo img{
    width:100px;
    height:80px;
}
#sectA p{
    margin-top:20px;
}
#sectA h6{
    display:none;
}

#sectA{
    box-sizing: border-box;
    background: url("https://i.redd.it/5mpwtfo7oei11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height:100%;
    width:100%;
    box-sizing: border-box;
}

#sectA>div{
    background-color: $maincolor;
    box-sizing: border-box;
}

#sectA img{
    width:80px;
    height: 30px;
}

#contentA{
    padding:10px 30px;
}
//sect B

#sectB{color:  rgba(80, 80, 80, 1);
}

#flexDiv{
    padding:30px; 
}

#footerDiv{
    background-color: $maincolor;
    color: $secondcolor;

    padding:20px;
}

// sect C

#sectC{
    background-color: rgba(80, 80, 80, 1);
    color:rgb(236, 236, 236);
}
#sectC h2{
    display:block;
    height: 60px;
}


.photoDiv{
    background: url("https://assets.piliapp.com/s3pxy/actual-size/iphone-7/default-front.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 40%;
    z-index:1;
     min-height:200px;
    width:auto;

}
#secondDark{
    background-color:rgba(60, 60, 60, 1);
}

.contentIcon{
    padding:20px;
}
.iconTwo{
    padding-bottom: 20px;
}
#sectC>h2{
    padding-top:20px;
}
//sect D

#sectD{
    background-color: $maincolor;
    color:white;
  
}
form{
    text-align: left;
    width: 350px;
    margin-left: auto;
    margin-right: auto;

}
label, input, textarea{
    width: 100%;
}


#sectA button{   background-color:none;
    border:none;
    border-radius: 13px;
    color:white;
    width:35px;
    height: 15px;
}

.iconOne button{
    background-color: $maincolor;
    border:none;
    width: 40px;
    height: 30px;
    border-radius: 13px;
    color:white;
    margin:5px;

}
.iconTwo button{
    background-color: $maincolor;
    border:none;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    color:white;
    margin:5px;

}

button:hover{
  background-color:gray;
}

input:hover{
   background-color: lightgrey;
}

input[type=submit]:hover{
           color:gray;
       }

input[type=submit]{
    background-color: $maincolor;
    border:none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color:white;
    font-size:1.1em;
}


footer{
    padding:10px;
    color:$maincolor;
    text-align:right;
}

@media screen and (min-width:600px){

    #sectA h6{
        display:block;
    }
    .photoDiv{
        background: url("https://assets.piliapp.com/s3pxy/actual-size/iphone-7/default-front.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 40%;
        z-index:1;
        width:auto;
    
    }

}

@media screen and (min-width:800px){
   //sectA
      #sectA h6{
      display:block;
    }
       #sectAdiv{
         display:flex;
          flex-direction:row;
            height: 250px;
       }
       #contentA{
            width:50%;
            border-bottom: 8px solid $maincolor;
            margin-top:20px;
        }
        #emptyDiv{
            
            background: url("https://assets.piliapp.com/s3pxy/actual-size/iphone-7/default-front.png");
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 45%;
            width:50%;
            border-bottom: 8px solid $maincolor;
            margin-top:20px;
            }

          #sectA>div{
           background-color:rgba(255, 0, 0, 0.1);
          }

    

//sectB
    #flexDiv{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

//sectC
.contentPhone{
        display:flex;
        flex-direction:row;     
        box-sizing: border-box;
    }
    
 .contentIcon{
     
    text-align:left;
    display:flex;
    width:50%;
    padding:50px;
    }
.photoDiv{
    margin-top:50px;
    background-size: 40%;
    width: 50%;
    box-sizing: border-box;
    
}          
#secondDark{
    flex-direction: row-reverse;
}


}
