* {
  color: #4b4b4b;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: #e6f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  border-top: 1px solid lightgray;
  margin: 0 20px;
  padding: 10px;
  padding-bottom: 100px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dce6e6;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer div {
  padding: 10px;
  min-width: 160px;
}

footer h2 {
  color: #5469a1;
  margin-bottom: 10px;
}

footer a {
  line-height: 2;
  text-decoration: none;
  color: #3d537a;
}

footer a:hover {
  color: gray;
}

#bodyDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  background-color: #3d537a;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: -3px 1px 7px white, 3px 3px 7px #a0a5a5;
          box-shadow: -3px 1px 7px white, 3px 3px 7px #a0a5a5;
  color: #e6f0f0;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  padding: 8px 10px;
  position: relative;
}

button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: 0.02s ease-in;
  transition: 0.02s ease-in;
}

button:hover {
  background-color: #5469a1;
}

nav {
  background-color: #e6f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

#navDiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  opacity: 1;
  padding: 0 20px;
  position: -webkit-sticky;
  position: sticky;
  width: 1240px;
}

#navDiv #logo {
  margin-right: 20px;
  margin-left: 43px;
  margin-top: 24px;
}

#navDiv i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f5f5;
  border-left: 0.1px solid white;
  border-radius: 5px;
  border-right: 0.1px solid #f0f5f5;
  -webkit-box-shadow: -5px 1px 9px white, 5px 2px 9px #a0a5a5;
          box-shadow: -5px 1px 9px white, 5px 2px 9px #a0a5a5;
  color: #5469a1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  width: 35px;
}

#navDiv i:hover {
  border: none;
  background-color: lightgray;
}

#navDiv #mainMenu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#navDiv #mainMenu i {
  margin-left: 0;
}

#navDiv #searchBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 605px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#navDiv #searchBox #search {
  background-color: #f0f5f5;
  border: none;
  border-bottom: 0.1px solid white;
  border-right: 0.1px solid white;
  border-radius: 5px;
  -webkit-box-shadow: inset -2px -2px 6px white, inset 2px 2px 6px #a0a5a5;
          box-shadow: inset -2px -2px 6px white, inset 2px 2px 6px #a0a5a5;
  height: 35px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

#navDiv #searchBox i {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
}

#navDiv .dropdown {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  position: relative;
}

#navDiv .dropdown-content {
  background-color: #f0f5f5;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px #a0a5a5;
          box-shadow: 2px 2px 10px #a0a5a5;
  display: none;
  left: 0;
  min-width: 300px;
  position: absolute;
  top: 53px;
}

#navDiv .dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

#navDiv .dropdown-content a:hover {
  background-color: lightgray;
}

#navDiv .dropdown:hover .dropdown-content {
  display: block;
}

#navDiv .dropbtn {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#shoppingCart i span {
  background-color: #DD1048;
  color: #f0f5f5;
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 14px;
  right: 22px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapperCart {
  height: 0;
  position: absolute;
  padding: 0;
  right: 20px;
  top: 55px;
}

#wrapperCart .cart {
  background-color: #f0f5f5;
  -webkit-box-shadow: 2px 2px 10px #a0a5a5;
          box-shadow: 2px 2px 10px #a0a5a5;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow-y: scroll;
  padding: 15px;
  max-height: 600px;
  width: auto;
  position: relative;
  overflow-y: auto;
}

#wrapperCart .cart i span {
  background-color: #DD1048;
  position: absolute;
  top: -20px;
  right: 0px;
  z-index: 100;
}

#wrapperCart .cart button {
  margin-right: 10px;
}

#wrapperCart .cart button.closeBtn {
  color: #3d537a;
  background-color: #f0f5f5;
  font-size: 15px;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 10px;
}

#wrapperCart .cart button.closeBtn:after {
  content: "\f102";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.productDivInfo {
  margin-top: 20px;
  -webkit-box-shadow: -3px 1px 9px white, 4px 3px 12px #a0a5a5;
          box-shadow: -3px 1px 9px white, 4px 3px 12px #a0a5a5;
  border-radius: 10px;
  position: relative;
  background: #f0f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 420px;
  width: 770px;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
  position: relative;
}

.productDivInfo button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  color: #5469a1;
  padding: 2px;
  margin-top: 10px;
  margin-right: 20px;
}

.productDivInfo button:hover {
  color: #4b4b4b;
}

.productDivInfo img {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  width: 90%;
}

.productDivInfo div:nth-child(2) > div:nth-child(5) > p {
  height: 200px;
  font-size: 14px;
  color: #646464;
}

.productDivInfo div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  margin-top: 15px;
}

.productDivInfo div:nth-of-type(2) div.phoneDescription {
  height: 70px;
}

.productDivInfo div:nth-of-type(2) .phonePrice {
  color: #DD1048;
  font-size: 20px;
  margin-bottom: 20px;
  width: 100px;
}

.productDivInfo div:nth-of-type(2) button {
  background-color: #3d537a;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  right: 10px;
  bottom: 15px;
  border: none;
  border-radius: 5px;
  color: #f0f5f5;
  padding: 8px;
}

.productDivInfo div:nth-of-type(2) button:hover {
  background-color: #5469a1;
}

.productDivCart {
  position: relative;
  background: transparent;
  border-bottom: 0.1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 460px;
}

.productDivCart img {
  margin-left: 0;
  width: 130px;
}

.productDivCart div:nth-of-type(2) {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productDivCart div:nth-of-type(2) input[type="number"] {
  background-color: #f0f5f5;
  border: none;
  border-bottom: 0.1px solid white;
  border-radius: 5px;
  border-right: 0.1px solid white;
  -webkit-box-shadow: inset -2px -2px 6px white, inset 2px 2px 6px #a0a5a5;
          box-shadow: inset -2px -2px 6px white, inset 2px 2px 6px #a0a5a5;
  color: #3d537a;
  font-size: 16px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  padding-left: 5px;
  padding-right: 2px;
  width: 42px;
}

.productDivCart div:nth-of-type(2) input::-webkit-outer-spin-button,
.productDivCart div:nth-of-type(2) input::-webkit-inner-spin-button {
  height: 20px;
}

.productDivCart div.phoneDescription {
  height: 70px;
}

.productDivCart .phonePrice {
  color: #DD1048;
  font-size: 20px;
  margin-bottom: 8px;
  width: 100px;
}

.productDivCart button {
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #3d537a;
  padding: 2px 10px;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 14px;
}

.productDivCart button:hover {
  color: gray;
}

.hideCart {
  min-height: 0;
  overflow: hidden;
}

#poster img {
  height: 200px;
  margin: 0;
  width: 100vw;
}

#bodyContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
}

#sortHeader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e6f0f0;
  border-bottom: 0.5px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 2px;
  position: -webkit-sticky;
  position: sticky;
  top: 59px;
  width: auto;
  z-index: 2;
}

#sortHeader i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f5f5;
  border-left: 0.1px solid white;
  border-right: 0.1px solid #f0f5f5;
  border-radius: 5px;
  -webkit-box-shadow: -5px 1px 9px white, 5px 2px 9px #a0a5a5;
          box-shadow: -5px 1px 9px white, 5px 2px 9px #a0a5a5;
  color: #5469a1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  height: 35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35px;
}

#sortHeader #toggleFilters i {
  padding: 7.5px;
  width: auto;
  margin-right: 20px;
}

#sortHeader #toggleFilters i span {
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

#sortHeader #showResults {
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 12px;
  margin-right: auto;
  height: auto;
}

#sortHeader #showResults span {
  font-size: 14px;
  color: #5469a1;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 5px;
  padding-right: 10px;
}

#sortHeader #showResults span:hover {
  color: #DD1048;
}

#sortHeader i:hover {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background-color: lightgray;
}

#sortHeader #select {
  background: #f0f5f5;
  border: none;
  border-bottom: 0.1px solid white;
  border-radius: 5px;
  border-right: 0.1px solid white;
  -webkit-box-shadow: inset -2px -2px 6px white, inset 2px 2px 6px #a0a5a5;
          box-shadow: inset -2px -2px 6px white, inset 2px 2px 6px #a0a5a5;
  color: #646464;
  cursor: pointer;
  height: 35px;
  margin-top: 2px;
  margin-right: 15px;
  outline: none;
  padding: 6px;
}

#sortHeader #sortByDiv label {
  font-weight: 500;
}

#sortHeader select:hover {
  color: #3d537a;
  outline: none;
  border: none;
}

.sideBar {
  background: #e6f0f0;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 200px;
  width: auto;
}

.sideBar .sideClass {
  background: #e6f0f0;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  padding: 10px 20px;
  padding-top: 20px;
}

.sideBar .sideClass div {
  background: #f0f5f5;
  border-left: 0.1px solid white;
  border-radius: 8px;
  border-right: 0.1px solid #f0f5f5;
  -webkit-box-shadow: -3px 1px 9px white, 4px 3px 12px #a0a5a5;
          box-shadow: -3px 1px 9px white, 4px 3px 12px #a0a5a5;
  margin-bottom: 15px;
  max-height: 200px;
  padding: 5px 10px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 190px;
}

.sideBar .sideClass div label {
  font-size: 14px;
  padding-top: 2px;
}

.sideBar .sideClass div h6 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
}

.sideBar .sideClass div h6 button {
  padding: 0;
  border-radius: 50%;
  border: 1.5px solid #3d537a;
  background-color: #f0f5f5;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  float: right;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  width: 20px;
}

.sideBar .sideClass div button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #3d537a;
  font-size: 16px;
}

.sideBar .sideClass div:last-of-type {
  bottom: 0;
}

.sideBar .sideClass .minimize {
  max-height: 35px;
  overflow: hidden;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.sideBar .sideClass .rotateClass {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sideBar .sideClass div:last-of-type {
  margin-bottom: 0;
}

.sideBar .fas {
  color: #f8ce0b;
}

.sideBar .far {
  color: gray;
}

#flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 750px;
  position: relative;
  width: auto;
}

#displayProducts {
  background-color: #e6f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
}

.productDiv {
  background: #f0f5f5;
  border-left: 0.1px solid white;
  border-radius: 8px;
  border-top: 0.1px solid #f0f5f5;
  -webkit-box-shadow: -3px 1px 9px white, 4px 3px 12px #a0a5a5;
          box-shadow: -3px 1px 9px white, 4px 3px 12px #a0a5a5;
  border-bottom: 0.1px solid #f0f5f5;
  border-right: 0.1px solid #f0f5f5;
  height: 380px;
  margin: 10px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 230px;
  padding: 10px;
}

.productDiv div:nth-child(2) > div:nth-child(5) > p {
  display: none;
}

.productDiv img {
  cursor: pointer;
  width: 85%;
}

.productDiv div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
}

.productDiv .buyPhone {
  margin-bottom: 10px;
}

.productDiv .phonePrice {
  color: #DD1048;
  font-weight: 700;
  margin-bottom: 10px;
}

.productDiv .phoneRating {
  margin-bottom: 5px;
}

.productDiv span {
  color: #646464;
  font-size: 14px;
}

.productDiv:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (max-width: 1250px) {
  #bodyContent {
    width: 990px;
  }
  #navDiv {
    width: 990px;
  }
  #navDiv #searchBox {
    width: 360px;
  }
  #sortHeader {
    width: auto;
  }
}

@media screen and (max-width: 1010px) {
  #bodyContent {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  #navDiv {
    width: 100%;
  }
  #poster img {
    height: 150px;
    margin: 0;
    width: 100vw;
  }
  #toggleFilters span {
    display: none;
  }
  .sideBar {
    height: 100%;
    left: -230px;
    position: absolute;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: auto;
    z-index: 1;
  }
  #flexWrapper {
    width: 100%;
  }
  #displayProducts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(255px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    padding: 10px 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .productDiv {
    height: auto;
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .productDiv img {
    width: 65%;
  }
  .productDiv:hover {
    -webkit-transform: none;
            transform: none;
  }
  .displayMargin {
    margin-left: 215px;
  }
  .revealSidebar {
    left: 0;
  }
}

@media screen and (max-width: 785px) {
  nav {
    min-width: 500px;
  }
  #navDiv {
    width: 100%;
  }
  #navDiv #searchBox {
    width: 100%;
    margin-left: 10px;
  }
  #navDiv > div:nth-child(4) > i {
    display: none;
  }
  #poster img {
    height: 120px;
    margin: 0;
    width: 100%;
  }
  .productDivInfo {
    width: 500px;
    height: 300px;
    padding-top: 10px;
  }
  #sortByDiv > label {
    display: none;
  }
  #logo {
    display: none;
  }
  #flexWrapper {
    min-width: 470px;
  }
}

.container {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  user-select: none;
  line-height: 1.1;
}

.container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkmark {
  background-color: #f0f5f5;
  border-radius: 3px;
  border: 1px solid #3d537a;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.container:hover input ~ .checkmark {
  background-color: lightgray;
}

.container input:checked ~ .checkmark {
  background-color: #3d537a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: 1px solid #f0f5f5;
  border-width: 0px 2px 2px 0;
  height: 10px;
  left: 4.5px;
  top: 1.5px;
  transform: rotate(45deg);
  width: 5px;
}

.starsOuter {
  position: relative;
  display: inline-block;
}

.starsOuter::before {
  color: #ccc;
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.starsInner {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.starsInner::before {
  color: #f8ce0b;
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/*# sourceMappingURL=index.css.map */