$mainColor       :#f0f5f5;
$backgroundColor :rgb(230, 240, 240);
$buttonColor     :#3d537a;
$iconColor       :#5469a1;
$cherryColor     :#DD1048;
$hoverColor      :rgb(211, 211, 211);
$light           :rgb(255, 255, 255);
$shadow          :rgb(141, 141, 141);

* {
    color         : #4b4b4b;
    font-weight   : 500;
    box-sizing    : border-box;
    font-family   : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // line-height: 1.1;
    padding       : 0;
    margin        : 0;
}

body {
    background     : $backgroundColor;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin         : 0;
    padding        : 0;
    position       : relative;
    overflow-x     : hidden;
    align-items    : center;
}

footer {
    border-top      : 1px solid $hoverColor;
    margin          : 0 20px;
    padding         : 10px;
    padding-bottom  : 100px;
    height          : auto;
    width           : 100%;
    display         : flex;
    background-color: rgb(220, 230, 230);
    flex-direction  : row;
    justify-content : space-around;
    font-size       : 12px;
    line-height: 2;

    div {
        padding: 10px;
    }

    h2 {
        color        : $iconColor;
        margin-bottom: 10px
    }

    a {
        text-decoration: none;
        color          : $buttonColor
    }

    a:hover {
        color: gray;
    }



}

#bodyDiv {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

button {
    background-color: $buttonColor;
    border          : none;
    border-radius   : 5px;
    box-shadow      : -3px 1px 7px $light, 3px 3px 7px $shadow;
    color           : $backgroundColor;
    cursor          : pointer;
    font-weight     : 600;
    outline         : none;
    padding         : 8px 10px;
    position        : relative;
}

button:active {
    transform : scale(0.98);
    transition: 0.02s ease-in;
}

button:hover {
    background-color: #5469a1;
}

nav {
    background-color: $backgroundColor;
    display         : flex;
    justify-content : center;
    left            : 0;
    position        : sticky;
    top             : 0;
    width           : 100%;
    z-index         : 3;
}

#navDiv {
    align-items  : center;
    border-bottom: 0.5px solid $hoverColor;
    display      : flex;
    height       : 60px;
    opacity      : 1;
    padding      : 0 20px;
    position     : sticky;
    width        : 1240px;

    #logo {
        margin-right: 20px;
        margin-left : 40px;
        margin-top  : 25px;
    }

    i {

        align-items     : center;
        background-color: $mainColor;
        border-left     : 0.1px solid $light;
        border-radius   : 5px;
        border-right    : 0.1px solid $mainColor;
        box-shadow      : -5px 1px 9px $light, 5px 2px 9px $shadow;
        color           : $iconColor;
        cursor          : pointer;
        display         : flex;
        font-size       : 20px;
        height          : 35px;
        justify-content : center;
        margin-left     : 15px;
        width           : 35px;
    }

    i:hover {
        border          : none;
        background-color: $hoverColor;
    }

    #mainMenu {
        margin        : 0;
        display       : flex;
        align-content : center;
        padding-right : 10px;
        padding-bottom: 10px;
        padding-top   : 10px;

        i {
            margin-left: 0;
        }
    }

    #searchBox {

        align-items    : center;
        display        : flex;
        justify-content: center;
        width          : 605px;
        position       : relative;
        margin-left    : auto;
        margin-right   : auto;

        #search {
            background-color: $mainColor;
            border          : none;
            border-bottom   : 0.1px solid $light;
            border-right    : 0.1px solid $light;
            border-radius   : 5px;
            box-shadow      : inset -2px -2px 6px $light, inset 2px 2px 6px $shadow;
            height          : 35px;
            outline         : none;
            padding-left    : 10px;
            width           : 100%;
        }

        i {
            box-shadow      : none;
            background-color: transparent;
            border          : none;
            width           : 30px;
            height          : 30px;
            position        : absolute;
            right           : 5px;
        }
    }

    //dropdown menu
    .dropdown {
        box-shadow: none;
        cursor    : pointer;
        display   : flex;
        display   : inline-block;
        position  : relative;
    }

    .dropdown-content {
        background-color: $mainColor;
        border-radius   : 5px;
        box-shadow      : 2px 2px 10px $shadow;

        display  : none;
        left     : 0;
        min-width: 300px;
        position : absolute;
        top      : 53px;
    }

    .dropdown-content a {
        text-decoration: none;
        display        : block;
        padding        : 12px 16px;
    }

    .dropdown-content a:hover {
        background-color: $hoverColor;
        // width: 200px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn {
        align-content  : center;
        display        : flex;
        justify-content: flex-start;
    }
}

//CART

#shoppingCart {

    i span {
        background-color: $cherryColor;
        color           : $mainColor;
        position        : absolute;
        border-radius   : 50%;
        width           : 16px;
        height          : 16px;
        top             : 14px;
        right           : 22px;
        font-size       : 12px;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }
}

#wrapperCart {
    height  : 0;
    position: absolute;
    padding : 0;
    right   : 20px;
    top     : 55px;

    .cart {
        background-color: $mainColor;
        box-shadow      : 2px 2px 10px $shadow;
        border-radius   : 5px;
        display         : flex;
        flex-direction  : column;
        align-items     : flex-end;
        overflow-y      : scroll;
        padding         : 15px;
        max-height      : 600px;
        width           : auto;
        position        : relative;
        overflow-y      : auto;

        i span {
            background-color: $cherryColor;
            position        : absolute;
            top             : -20px;
            right           : 0px;
            z-index         : 100;
        }

        button {
            margin-right: 10px;
        }

        button.closeBtn {
            color           : $buttonColor;
            background-color: $mainColor;
            font-size       : 15px;
            height          : 24px;
            width           : 24px;
            display         : flex;
            align-items     : center;
            justify-content : center;
            box-shadow      : none;
            margin-right    : 10px;
        }

        button.closeBtn:after {
            content    : "\f102";
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
        }
    }
}

.productDivInfo {
    margin-top   : 10px;
    box-shadow   : -3px 1px 9px $light, 4px 3px 12px $shadow;
    border-radius: 10px;

    position      : relative;
    background    : $mainColor;
    display       : flex;
    flex-direction: row;
    height        : 420px;
    width         : 770px;
    padding       : 10px;
    margin-bottom : 10px;
    position      : relative;

    img {
        margin-top   : auto;
        margin-bottom: auto;
        margin-left  : 0;
        width        : 90%
    }


    div:nth-child(2)>div:nth-child(5)>p {
        // display: none;
        height   : 200px;
        font-size: 14px;
        color    : rgb(100, 100, 100);
    }

    div:nth-of-type(2) {
        // background-color: yellow;
        display       : flex;
        flex-direction: column;
        min-width     : 250px;
        margin-top    : 15px;

        div.phoneDescription {
            height: 70px;
        }

        .phonePrice {
            color        : $cherryColor;
            font-size    : 20px;
            margin-bottom: 20px;
            width        : 100px;
        }

        button {
            box-shadow: none;
            position  : absolute;
            right     : 20px;
            bottom    : 14px;
        }
    }
}

.productDivCart {
    position       : relative;
    background     : transparent;
    border-bottom  : 0.1px solid $hoverColor;
    display        : flex;
    flex-direction : row;
    height         : 150px;
    justify-content: space-between;
    padding        : 10px;
    margin-bottom  : 10px;
    position       : relative;
    width          : 460px;

    img {
        margin-left: 0;
        width      : 130px;
    }

    div:nth-of-type(2) {

        width         : 310px;
        display       : flex;
        flex-direction: column;

        input[type="number"] {

            background-color: $mainColor;
            border          : none;
            border-bottom   : 0.1px solid $light;
            border-radius   : 5px;
            border-right    : 0.1px solid $light;
            box-shadow      : inset -2px -2px 6px $light, inset 2px 2px 6px $shadow;
            color           : $buttonColor;
            font-size       : 16px;
            height          : 25px;
            margin-bottom   : 5px;
            margin-top      : 5px;
            outline         : none;
            padding-left    : 5px;
            padding-right   : 2px;
            width           : 42px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            height: 20px;
        }
    }

    div.phoneDescription {
        height: 70px;
    }

    .phonePrice {
        color        : $cherryColor;
        font-size    : 20px;
        margin-bottom: 8px;
        width        : 100px;
    }

    button {
        background-color: transparent;
        border-radius   : 0;
        box-shadow      : none;
        color           : $buttonColor;
        padding         : 2px 10px;
        width           : auto;
        position        : absolute;
        right           : 0;
        bottom          : 14px;
    }

    button:hover {
        color: gray;
    }
}

.hideCart {
    min-height: 0;
    overflow  : hidden;
}

//POSTER
#poster img {
    height: 200px;
    margin: 0;
    width : 100vw;
}

// //middle
#bodyContent {
    box-sizing     : border-box;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin-left    : auto;
    margin-right   : auto;
    width          : 1240px;
}

// hEADER

#sortHeader {
    align-items    : center;
    background     : $backgroundColor;
    border-bottom  : 0.5px solid $hoverColor;
    display        : flex;
    height         : 50px;
    justify-content: space-between;
    padding        : 0 20px;
    position       : sticky;
    top            : 59px;
    width          : auto;
    z-index        : 2;

    i {

        align-items     : center;
        background-color: $mainColor;
        border-left     : 0.1px solid $light;
        border-right    : 0.1px solid $mainColor;
        border-radius   : 5px;
        box-shadow      : -5px 1px 9px $light, 5px 2px 9px $shadow;
        color           : $iconColor;
        cursor          : pointer;
        display         : flex;
        font-size       : 20px;
        height          : 35px;
        justify-content : space-around;
        width           : 35px;
    }

    #toggleFilters {
        i {
            padding     : 7.5px;
            width       : auto;
            margin-right: 20px;

            span {
                padding-left: 10px;
                font-weight : 500;
                font-size   : 18px;
            }
        }
    }

    #showResults {

        margin-top   : auto;
        margin-bottom: 8px;
        font-size    : 12px;
        margin-right : auto;
        height       : auto;
    }

    i:hover {
        border-left          : 1px solid $hoverColor;
        border-right          : 1px solid $hoverColor;
        background-color: $hoverColor;
    }

    #select {

        background   : $mainColor;
        border       : none;
        border-bottom: 0.1px solid $light;
        border-radius: 5px;
        border-right : 0.1px solid $light;
        box-shadow   : inset -2px -2px 6px $light, inset 2px 2px 6px $shadow;
        color        : rgb(100, 100, 100);
        cursor       : pointer;
        height       : 35px;
        margin-top   : 2px;
        margin-right : 15px;
        outline      : none;
        padding      : 6px;

    }

    #sortByDiv label {
        font-weight: 500;
    }

    select:hover {
        color  : $buttonColor;
        outline: none;
        border : none;
    }

}

//SIDEBAR
.sideBar {
    background: $backgroundColor;
    position  : relative;
    top       : 0;
    transition: 0.3s ease;
    width     : 200px;
    width     : auto;

    .sideClass {

        background: $backgroundColor;
        position  : sticky;
        top       : 110px;
        padding   : 20px 20px;

        div {

            background   : $mainColor;
            border-left  : 0.1px solid $light;
            border-radius: 8px;
            border-right : 0.1px solid $mainColor;
            box-shadow   : -3px 1px 9px $light, 4px 3px 12px $shadow;
            margin-bottom: 15px;
            max-height   : 200px;
            padding      : 5px 10px;
            position     : relative;
            transition   : 0.2s;
            width        : 190px;

            label {
                font-size: 13px;
            }

            h6 {
                font-size    : 16px;
                margin-bottom: 10px;
                margin-top   : 0;
                font-weight  : 500;
            }

            h6 button {

                padding         : 0;
                border-radius   : 50%;
                border          : 1.5px solid $buttonColor;
                background-color: $mainColor;
                box-shadow      : none;
                display         : flex;
                margin-top      : 2px;
                float           : right;
                height          : 20px;
                justify-content : center;
                transform       : none;
                transition      : 0.25s ease-in;
                width           : 20px;
            }

            button i {
                display   : flex;
                align-self: center;
                color     : $buttonColor;
                font-size : 16px;
            }
        }

        .minimize {
            max-height: 35px;
            overflow  : hidden;
            transition: 0.2s;
        }

        .rotateClass {
            transform: rotate(-180deg);
        }

        div:last-of-type {
            margin-bottom: 0;
        }
    }

    .fas {
        color: #f8ce0b;
    }

    .far {
        color: gray;
    }
}


#flexWrapper {
    display   : flex;
    min-height: 750px;
    position  : relative;
    width     : auto;
}

#displayProducts {
    background-color: $backgroundColor;
    display         : flex;
    flex-wrap       : wrap;
    padding-top     : 10px;
    width           : 100%;
}

//detalii produs

.productDiv {

    background   : $mainColor;
    border-left  : 0.1px solid $light;
    border-radius: 8px;
    border-top   : 0.1px solid $mainColor;
    box-shadow   : -3px 1px 9px $light, 4px 3px 12px $shadow;
    border-bottom: 0.1px solid $mainColor;
    border-right : 0.1px solid $mainColor;
    height       : 380px;
    margin       : 10px;
    padding-top  : 8px;
    position     : relative;
    text-align   : center;
    transform    : scale(1);
    transition   : 0.3s ease-in-out;
    width        : 230px;
    padding      : 10px;

    div:nth-child(2)>div:nth-child(5)>p {
        display: none;
    }

    img {
        cursor: pointer;
        width : 85%;
    }

    div:nth-child(2) {
        display       : flex;
        flex-direction: column;
        height        : 180px;
    }

    .buyPhone {
        margin-bottom: 10px;
    }

    .phonePrice {
        color        : $cherryColor;
        font-weight  : 700;
        margin-bottom: 10px;
    }

    .phoneRating {
        margin-bottom: 5px;
    }

    span {
        color    : rgb(100, 100, 100);
        font-size: 14px;
    }
}

.productDiv:hover {
    transition: 0.2s ease-in;
    transform : scale(1.02);

}

//display 3
@media screen and (max-width: 1250px) {
    #bodyContent {
        width: 990px;
    }

    #navDiv {
        width: 990px;

        #searchBox {
            width: 360px;
        }
    }

    #sortHeader {
        width: auto;
    }
}

//tablet
@media screen and (max-width: 1010px) {

    #bodyContent {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    #navDiv {
        width: 100%;
    }

    #poster img {
        height: 150px;
        margin: 0;
        width : 100vw;
    }

    // //middle

    #toggleFilters span {
        display: none;
    }

    #showResults {
        margin-bottom: 5px;
        width        : 90px;
    }

    .sideBar {
        height    : 100%;
        left      : -230px;
        position  : absolute;
        transition: 0.3s ease;
        width     : auto;
        z-index   : 1;
    }

    #flexWrapper {
        width: 100%;
    }

    #displayProducts {
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        padding              : 10px 10px;
        transition           : 0.3s ease;
    }

    .productDiv {
        height    : auto;
        width     : auto;
        box-sizing: border-box;

        img {
            width: 65%;
        }
    }

    .productDiv:hover {
        transform: none;
    }

    .displayMargin {
        margin-left: 215px;
    }

    .revealSidebar {
        left: 0;
    }
}

@media screen and (max-width: 785px) {
    nav {
        min-width: 500px;
    }

    #navDiv {
        width: 100%;

        #searchBox {
            width      : 100%;
            margin-left: 10px;
        }
    }

    #navDiv>div:nth-child(4)>i {
        display: none;
    }

    #poster img {
        height: 120px;
        margin: 0;
        width : 100%;
    }

    .productDivInfo {
        width : 500px;
        height: 300px;
    }

    #sortByDiv>label {
        display: none;
    }

    #logo {
        display: none;
    }

    #flexWrapper {
        min-width: 470px;
    }
}

//CHECKBOX
// The container 
.container {
    -moz-user-select   : none;
    -ms-user-select    : none;
    -webkit-user-select: none;
    cursor             : pointer;
    display            : block;
    font-size          : 18px;
    margin-bottom      : 12px;
    padding-left       : 35px;
    position           : relative;
    user-select        : none;
    line-height        : 1.3;
}

//hide checkbox
.container input {
    cursor  : pointer;
    height  : 0;
    opacity : 0;
    position: absolute;
    width   : 0;
}

//custom checkbox 
.checkmark {

    background-color: $mainColor;
    border-radius   : 2px;
    border          : 1.5px solid $buttonColor;
    height          : 20px;
    left            : 0;
    position        : absolute;
    top             : 0;
    width           : 20px;
}

.container:hover input~.checkmark {
    background-color: $hoverColor;
}

//when checked add background 
.container input:checked~.checkmark {
    background-color: $buttonColor;
}

//checkmark / indicator (hidden when not checked) 
.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

// Show the checkmark when checked 
.container input:checked~.checkmark:after {
    display: block;
}

// Style the checkmark/indicator
.container .checkmark:after {
    -ms-transform       : rotate(45deg);
    -webkit-transform   : rotate(45deg);
    border              : 1px solid $mainColor;
    border-width        : 0px 2px 2px 0;
    height              : 10px;
    left                : 4.5px;
    top                 : 1.5px;
    transform           : rotate(45deg);
    width               : 5px;
}
//Stars
.starsOuter {
    position: relative;
    display : inline-block;
}

.starsOuter::before {
    color      : #ccc;
    content    : "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.starsInner {
    left       : 0;
    overflow   : hidden;
    position   : absolute;
    top        : 0;
    white-space: nowrap;
}

.starsInner::before {
    color      : #f8ce0b;
    content    : "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}