$mainColor                            :rgb(240, 245, 245);
$hoverColor                           : rgb(211, 211, 211);
$buttonColor                          : #3d537a;
// $iconColor                         : #3d537a;
$iconColor                            : #5469a1;
$cherryColor                          : #DD1048;
$backgroundColor                      : rgb(233, 240, 240);
// $backgroundColor                : white;
// $backgroundColor       : #d4d4d4;    
$shadow                               :rgb(148, 148, 148);
$light                                : rgb(255, 255, 255);

* {
    color         : #4b4b4b;
    font-weight   : 500;
    box-sizing    : border-box;
    font-family   : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // line-height: 1.1;
    padding       : 0;
    margin        : 0;
}

body {
    background     : $backgroundColor;
    display        : flex;
    justify-content: center;
    margin         : 0;
    padding        : 0;
    position       : relative;
    overflow-x     : hidden;
    // overflow-y:auto ;
}

button {
    background-color   : $buttonColor;
    border             : none;
    // border-left     : 0.1px solid $light;
    border-radius      : 5px;
    // border-top      : 0.1px solid $light;
    box-shadow         : -3px -3px 9px $light, 3px 3px 9px $shadow;
    color              : $backgroundColor;
    cursor             : pointer;
    font-weight        : 600;
    outline            : none;
    padding            : 8px 10px;
    position           : relative;
    // color:black
}

button:active {
    transform : scale(0.98);
    transition: 0.02s ease-in;
}

button:hover {
    background-color: #5469a1;
}

nav {
    background-color   : $backgroundColor;
    display            : flex;
    justify-content    : center;
    left               : 0;
    position           : sticky;
    top                : 0;
    // transition      : 0.5s;
    width              : 100%;
    z-index            : 3;
}

#navDiv {
    align-items  : center;
    border-bottom: 0.5px solid $hoverColor;
    display      : flex;
    height       : 60px;
    opacity      : 1;
    padding      : 0 20px;
    position     : sticky;
    width        : 1240px;

    #logo {
        margin-right: 20px;
        margin-left : 40px;
        margin-top   : 25px;
    }

    i {
        // margin-right: 12px;
        align-items     : center;
        background-color: $mainColor;
        border-left     : 0.1px solid $light;
        border-radius   : 5px;
        border-top      : 0.1px solid $light;
        border-bottom   : 0.1px solid $mainColor;
        border-right    : 0.1px solid $mainColor;

        box-shadow     : -3px -3px 9px $light, 3px 3px 9px $shadow;
        color          : $iconColor;
        cursor         : pointer;
        display        : flex;
        font-size      : 20px;
        height         : 35px;
        justify-content: center;
        margin-left    : 15px;
        width          : 35px;
    }

    i:hover {
        border          : none;
        background-color: $hoverColor;
        // transition: 0.3s;
    }

    #mainMenu {
        margin       : 0;
        display      : flex;
        align-content: center;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;

        i {
            margin-left: 0;
        }
    }

    #searchBox {

        align-items    : center;
        display        : flex;
        justify-content: center;
        width          : 570px;
        position       : relative;
        margin-left    : auto;
        margin-right   : auto;


        #search {
            background-color   : $mainColor;
            border             : none;
            border-bottom      : 0.1px solid $light;
            border-right       : 0.1px solid $light;
            border-radius      : 5px;
            box-shadow         : inset -2px -2px 6px $light, inset 2px 2px 6px $shadow;
            height             : 35px;
            outline            : none;
            padding-left       : 10px;
            width              : 100%;
            // background-color: red;
        }

        // input type
        i {
            box-shadow      : none;
            background-color: transparent;
            border          : none;
            width           : 30px;
            height          : 30px;
            position        : absolute;
            right           : 5px;
        }
    }

    //dropdown menu
    .dropdown {
        box-shadow : none;
        cursor     : pointer;
        display    : flex;
        display    : inline-block;
        // height  : 50px;
        position   : relative;
    }

    .dropdown-content {
        background-color: $mainColor;
        border-radius: 5px;
        box-shadow      : 2px 2px 10px $shadow;

        display  : none;
        left     : 0;
        min-width: 300px;
        position : absolute;
        top      : 53px;
    }

    .dropdown-content a {
        text-decoration: none;
        display        : block;
        padding        : 12px 16px;
    }

    .dropdown-content a:hover {
        background-color: $hoverColor;
        // width: 200px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn {
        // background-color: red;
        align-content  : center;
        display        : flex;
        justify-content: flex-start;
    }
}

//CART

#shoppingCart {

    i span {
        background-color: $cherryColor;
        color           : $mainColor;
        position        : absolute;
        border-radius   : 50%;
        width           : 16px;
        height          : 16px;
        top             : 14px;
        right           : 22px;
        font-size       : 12px;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }
}

#wrapperCart {
    height  : 0;
    position: absolute;
    padding : 0;
    right   : 20px;
    top     : 55px;

    .cart {
        background-color: $mainColor;
        box-shadow      : 2px 2px 10px $shadow;
        border-radius             : 5px;
        display                   : flex;
        flex-direction            : column;
        align-items               : flex-end;
        overflow-y                : scroll;
        padding                   : 15px;
        // padding-top            : 40px;
        max-height                : 600px;
        width                     : auto;
        position                  : relative;
        overflow-y                : auto;

        i span {
            background-color: $cherryColor;
            position        : absolute;
            top             : -20px;
            right           : 0px;
            z-index         : 100;
        }

        button {
            margin-right: 10px;
        }

        button.closeBtn {
            color              : $buttonColor;
            background-color   : $mainColor;
            font-size          : 15px;
            height             : 24px;
            width              : 24px;
            display            : flex;
            align-items        : center;
            justify-content    : center;
            box-shadow: none;
            margin-right       : 10px;
        }

        button.closeBtn:after {
            content    : "\f102";
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
        }
    }
}

.productDivCart {
    scroll-snap-align       : start;
    position                : relative;
    background              : transparent;
    border-bottom           : 0.1px solid $hoverColor;
    display                 : flex;
    flex-direction          : row;
    height                  : 150px;
    justify-content         : space-between;
    // margin               : 10px;
    padding                 : 10px;
    margin-bottom           : 10px;
    position                : relative;
    width                   : 460px;

    img {
        margin-left: 0;
        width      : 130px;
    }

    div:nth-of-type(2) {
        // background-color: yellow;
        width         : 310px;
        display       : flex;
        flex-direction: column;

        input[type="number"] {

            background-color: $mainColor;
            border          : none;
            border-bottom   : 0.1px solid $light;
            border-radius   : 5px;
            border-right    : 0.1px solid $light;
            box-shadow      : inset -2px -2px 6px $light, inset 2px 2px 6px $shadow;
            color           : $buttonColor;
            font-size       : 16px;
            height          : 25px;
            margin-bottom   : 5px;
            margin-top      : 5px;
            outline         : none;
            padding-left    : 5px;
            padding-right   : 2px;
            width           : 40px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            height: 20px;
        }
    }

    div.phoneDescription {
        height: 70px;
    }

    .phonePrice {
        color        : $cherryColor;
        font-size    : 20px;
        margin-bottom: 8px;
        width        : 100px;
    }

    button {
        background-color: transparent;
        border-radius: 0;
        // border-bottom:1px solid $hoverColor;
        box-shadow:none;
        color:$buttonColor;
        padding            : 2px 10px;
        width              : auto;
        // background-color: red;
        position           : absolute;
        right              : 0;
        bottom             : 14px;
    }
    button:hover{
        color: gray;
    }
}

.hideCart {
    min-height: 0;
    overflow  : hidden;
}

//POSTER
#poster img {
    height: 200px;
    margin: 0;
    width : 1500px;
}

// //middle
#bodyContent {
    box-sizing        : border-box;
    display           : flex;
    flex-direction    : column;
    justify-content   : center;
    margin-left       : auto;
    margin-right      : auto;
    // margin-top     : 5px;
    width             : 1240px;
}

// hEADER

#sortHeader {
    align-items    : center;
    background     : $backgroundColor;
    border-bottom  : 0.5px solid $hoverColor;
    display        : flex;
    height         : 50px;
    justify-content: space-between;
    padding        : 0 20px;
    position       : sticky;
    top            : 59px;
    width          : auto;
    z-index        : 2;

    #toggleFilters {
        border    : none;
        display   : flex;
        align-self: center;
        cursor    : pointer;
        margin    : 0;
        outline   : none;
        height    : 35px;
        // padding:5px;
        box-shadow: none;
        padding   : 0;

        i {
            padding   : 7.5px;
            display   : flex;
            align-self: center;
            width     : auto;

            span {
                padding-left: 10px;
                font-weight : 500;
                font-size   : 18px;
            }
        }
    }

    i {
        align-items     : center;
        background-color: $mainColor;
        border-left     : 0.1px solid $light;
        border-top      : 0.1px solid $light;
        border-bottom   : 0.1px solid $mainColor;
        border-right    : 0.1px solid $mainColor;
        border-radius   : 5px;
        box-shadow      : -3px -3px 9px $light, 3px 3px 9px $shadow;
        color           : $iconColor;
        cursor          : pointer;
        display         : flex;
        font-size       : 20px;
        height          : 35px;
        justify-content : space-around;
        width           : 35px;
    }

    i:hover {
        border          : none;
        background-color: $hoverColor;
    }

    #select {
        background   : $mainColor;
        border       : none;
        border-bottom: 0.1px solid $light;
        border-radius: 5px;
        border-right : 0.1px solid $light;
        box-shadow   : inset -2px -2px 6px $light, inset 2px 2px 6px $shadow;
        cursor       : pointer;
        margin-top   : 2px;
        outline      : none;
        color        : rgb(100, 100, 100);
        height       : 35px;
        padding      : 6px;

    }

    #sortByDiv>label {
        font-weight: 500;
    }

    :nth-of-type(2) {
        align-items   : center;
        display       : flex;
        flex-direction: row;

        i {
            margin-left: 15px;
        }

    }

    select:hover {
        color  : $buttonColor;
        outline: none;
        border : none;
    }

    button {
        background-color: red;
        visibility      : hidden;
    }
}

//SIDEBAR
.sideBar {
    // overflow: scroll;
    // border          : 1px solid red;
    background: $backgroundColor;
    position  : relative;
    top       : 0;
    transition: 0.3s ease;
    width     : 200px;
    width     : auto;

    .sideClass {
        // overflow: scroll;
        background: $backgroundColor;
        position  : sticky;
        top       : 110px;
        padding   : 20px 20px;

        // min-height: 750px;
        div {

            background   : $mainColor;
            border-left  : 0.1px solid $light;
            border-radius: 5px;
            border-top   : 0.1px solid $light;
            border-bottom: 0.1px solid $mainColor;
            border-right : 0.1px solid $mainColor;
            box-shadow   : -3px -3px 9px $light, 3px 3px 9px $shadow;
            margin-bottom: 12px;
            max-height   : 200px;
            padding      : 5px 10px;
            position     : relative;
            width        : 190px;
            transition: 0.2s;

            label {
                font-size: 14px;
            }

            h6 {
                font-size    : 16px;
                margin-bottom: 10px;
                margin-top   : 0;
                font-weight  : 500;
            }

            h6 button {
                padding         : 0;
                border-radius   : 50%;
                border          : 1.5px solid $buttonColor;
                background-color: $mainColor;
                box-shadow      : none;
                display         : flex;
                margin-top      : 2px;
                float           : right;
                height          : 20px;
                justify-content : center;
                transform       : none;
                transition      : 0.25s ease-in;
                width           : 20px;
            }

            button i {
                display   : flex;
                align-self: center;
                color     : $buttonColor;
                font-size : 16px;
            }
        }

        // div:hover {
        //     // box-shadow: -2px -2px 3px $light, 2px 2px 5px $shadow;
        //     transition: 0.s;

        // }

        .minimize {
            max-height: 35px;
            overflow  : hidden;
            transition: 0.2s;
        }

        .rotateClass {
            transform: rotate(-180deg);
        }

        div:last-of-type {
            margin-bottom: 0;
        }
    }

    .fas {
        color: #f8ce0b;
    }

    .far {
        color: gray;
    }
}


#flexWrapper {
    display   : flex;
    min-height: 750px;
    position  : relative;
    width     : auto;
}

#displayProducts {
    background-color: $backgroundColor;
    display         : flex;
    flex-wrap       : wrap;
    padding-top     : 10px;
    width           : 100%;
}

//detalii produs

.productDiv {

    background   : $mainColor;
    border-left  : 0.1px solid $light;
    border-radius: 5px;
    border-top   : 0.1px solid $light;
    box-shadow   : -3px -3px 9px $light, 3px 3px 9px $shadow;
    border-bottom: 0.1px solid $mainColor;
    border-right : 0.1px solid $mainColor;
    height       : 380px;
    margin       : 10px;
    padding-top  : 8px;
    position     : relative;
    text-align   : center;
    transform    : scale(1);
    transition   : 0.3s ease-in-out;
    width        : 230px;
    padding      : 10px;

    img {
        width: 85%;
    }

    div:nth-child(2) {
        display       : flex;
        flex-direction: column;
        height        : 180px;
    }

    .buyPhone {
        margin-bottom: 10px;
    }

    .phonePrice {
        color           : $cherryColor;
        font-weight     : 700;
        margin-bottom   : 10px;
        // margin-top   : 10px;
    }

    .phoneRating {
        margin-bottom: 5px;
    }

    span {
        // display         : inline-block;
        color    : rgb(100, 100, 100);
        font-size: 14px;
    }
}

.productDiv:hover {
    transition: 0.2s ease-in;
    transform : scale(1.02);

}

//display 3
@media screen and (max-width: 1250px) {
    #bodyContent {
        width: 990px;
    }

    #navDiv {
        width: 990px;

        #searchBox {
            width: 360px;
        }
    }

    #sortHeader {
        width: auto;
    }
}

//tablet
@media screen and (max-width: 1010px) {

    #bodyContent {
        width: 100%;
    }

    nav {
        width: auto;
    }

    #navDiv {
        width: 100%;
    }

    #poster img {
        height: 150px;
        margin: 0;
        width : 100vw;
    }

    // //middle
    #sortHeader button {
        visibility      : initial;
        background-color: $backgroundColor;
    }

    .sideBar {

        height    : 100%;
        left      : -230px;
        position  : absolute;
        transition: 0.3s ease;
        width     : auto;
        z-index   : 1;
    }

    #flexWrapper {
        width: 100%;
    }

    #displayProducts {

        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        padding              : 10px 10px;
        transition           : 0.3s ease;
    }

    .productDiv {
        height    : auto;
        width     : auto;
        box-sizing: border-box;

        img {
            width: 65%;
        }
    }

    .productDiv:hover {
        transform: none;
    }

    .displayMargin {
        margin-left: 215px;
    }

    .revealSidebar {
        left: 0;
    }
}

@media screen and (max-width: 785px) {
    #navDiv {
        width: 100%;

        #searchBox {
            // margin-right: 30px;
            width      : 100%;
            margin-left: 10px;
        }
    }

    #navDiv>div:nth-child(4)>i {
        display: none;
    }


    #poster img {
        height: 120px;
        margin: 0;
        width : 100vw;
    }

    #toggleFilters span {
        display: none;
    }

    #sortByDiv>label {
        display: none;
    }

    #logo {
        display: none;
    }

    #flexWrapper {
        min-width: 470px;
    }

}

// #phoneData {
//     align-content : stretch;
//     display       : flex;
//     flex-direction: column;
//     height        : auto;
//     padding       : 10px;
// }

//CHECKBOX
/* The container */
.container {
    // border:2px solid black;
    -moz-user-select   : none;
    -ms-user-select    : none;
    -webkit-user-select: none;
    cursor             : pointer;
    display            : block;
    font-size          : 18px;
    margin-bottom      : 12px;
    padding-left       : 35px;
    position           : relative;
    user-select        : none;
    line-height        : 1.3;

}

/* Hide the browser's default checkbox */
.container input {
    cursor  : pointer;
    height  : 0;
    opacity : 0;
    position: absolute;
    width   : 0;

}

/* Create a custom checkbox */
.checkmark {

    background-color: $mainColor;
    border-radius   : 2px;
    border          : 1.5px solid $buttonColor;
    height          : 20px;
    left            : 0;
    position        : absolute;
    top             : 0;
    width           : 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: $backgroundColor;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: $buttonColor;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    -ms-transform       : rotate(45deg);
    -webkit-transform   : rotate(45deg);
    border              : 1px solid $mainColor;
    // border-radius    : 2px;
    border-width        : 0px 2px 2px 0;
    height              : 10px;
    left                : 4.5px;
    top                 : 1.5px;
    transform           : rotate(45deg);
    width               : 5px;
    // background-color: $iconColor;
}

.starsOuter {
    position: relative;
    display : inline-block;
}

.starsOuter::before {
    color      : #ccc;
    content    : "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.starsInner {
    left       : 0;
    overflow   : hidden;
    position   : absolute;
    top        : 0;
    white-space: nowrap;
    // width:70%;
}

.starsInner::before {
    color      : #f8ce0b;
    content    : "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}